
@import url('https://fonts.googleapis.com/css2?family=Diplomata+SC&family=Montserrat:ital,wght@0,600;1,700&family=Poppins:wght@600&family=Satisfy&display=swap');
.container{
  background-color: rgb(27, 9, 24);
margin: 40px 10.px;
}
.row{
  display: flex;
}
.desc{
  color: aqua;
  text-decoration:double underline;
}
. text{
  background-color: bisque;
}
.r{
  background-color: chartreuse;
    
}
i{
  background-color: aqua;
}
.row{
  display: grid;

}

input{
  border-radius: 20px;
  background-color: darkorange;
}
section{
  background-color:gold;
}
h2{
  background-color: antiquewhite;
  color:rgb(167, 10, 173);
  

}
.row1{
  padding-right: 10px;
}
.a{
  margin-left: 10px;
  display: flex;

  -ms-flex-align: center;
  text-decoration-thickness: 10px;
}
.b{
  margin-left: 3dvh;
  display: flex;
}
h3{
  padding: 10px;
}
.e{
  display: flex;
  margin-left: 10px;
}

.D{
  display: flex;
margin-left: 10px;
}
h4{
  font-display: center;
  color: aqua;
  
}
.l{
text-wrap:wrap;
}
.h1{
  text-align: center;

}
i{
  color: black;
}